.cal-container
{
    background-color:black;
    height: 490px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 10px;
    border-radius: 15px;
    border: 3px solid whitesmoke;
    box-shadow: 1px 6px 10px 4px #000000;
 }

.cal-screen
{
    background-color:lavender;
    font-size:22px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding-bottom: 15px;
    border: inset;
    height: 40px;
    width: 300px;
 }
 .cal-btn
 {
    display: flex;
    justify-content: space-evenly;
 }

 .btn 
 {
    background-color: springgreen;
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 1px white;
    cursor: pointer;
 }

 .btn:hover
 {
    border-radius: 13px;
    cursor: pointer;
 }
 .clr
 {
    background-color:chocolate;
    cursor: pointer;
 }

 .space-btn
 {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    
}
 .space
 {
    padding: 5px;
    width: 150px;
    font-size: 20px;
    margin-right: 28px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px 3px #000000;
    cursor: pointer;
    background-color: crimson;
 }

 .space:hover
 {
    background-color: springgreen;
    border-radius: 13px;
 }
 .rtc
 {
    color: white;
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
 }

 .screen-box
 {
    margin-right: 16px;
    display: flex;
    justify-content: end;
 }
 .screen
 {
    display: inline-block;
    height: 25px;
    width: 40px;
    border: 1px solid black;
    margin-top: 10px;
    background-color: aliceblue;
    border-style: inset;
}
